* {
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  font-size: 16px;
  background: #94AD31;
  color: #4A31AD;
}

h2, h3 {
  font-weight: bold;
  text-align: center;
  padding: 10px
}



/* ########## Header ########## */
#header {
  position: relative;
  box-shadow: 0px 0px 20px 10px #94AD31 inset;
}

#header-img {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

#title {
  position: absolute;
  bottom: 30px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 3rem;
  letter-spacing: 0.8rem;
}
/* ########## End Header ########## */



/* ########## Navbar ########## */
#nav-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  margin: 0px;
  width: 100%;
  background: green;
}

#nav-bar ul {
  list-style-type: none;
}

#nav-bar li {
  display: inline-block;
}

.nav-link {
  color: white;
  padding: 10px 15px;
  text-decoration: none;
}
/* ########## End Navbar ########## */



/* ########## About Section ########## */
#about {
  width: 95%;
  margin: 10px auto;
  line-height: 2rem;
}

#about span {
  font-size: 1.1rem;
  font-style: italic;
  font-weight: bold;
}

.video_container {
  width: 560px;
  height: 315px;

  position: relative;
  margin: 10px auto;
  left: 0px;
  right: 0px;
}

iframe {
  border-radius: 20px;
}
/* ########## End About Section ########## */



.author {
  font-size: 0.7rem;
}
