* {
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  font-size: 16px;
  background: #94AD31;
  color: #4A31AD;
}



/* ########## Header ########## */
#header {
  box-shadow: 0px 0px 20px 10px #94AD31 inset;
}

#header-img {
  z-index: -1;
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  opacity: 0.75;
}

#title {
  bottom: 30px;
  left: 0px;
  right: 0px;
  font-family: 'Pacifico', cursive;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0.8rem;
}
/* ########## End Header ########## */



/* ########## Navbar ########## */
.navbar {
  background: green;
}

.navbar .navbar-nav .nav-link,
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus {
  color: white;
}

.dropdown-menu {
  background: green;
}

.dropdown-menu .dropdown-item {
  color: white;
}

.dropdown-menu .dropdown-item:hover {
  text-decoration: underline;
  background: #94AD31;
  color: #4A31AD;
}

.form-inline input[type=search] {
  width: 100px;
  border: none;
  background: transparent;
  transition: 1s;
}

.form-inline input[type=search]:focus {
  width: 150px;
  border-bottom: 1px solid white;
  background: transparent;
  outline: none;
}

input[type=search]::placeholder {
  color: white;
}

.fa-search {
  color: white;
}
/* ########## End Navbar ########## */



/* ########## Products Section ########## */
#products {
  position: relative;
}

/* Position img and ul side-by-side */
.product {
  display: flex;
  justify-content: space-around;
}

.product img {
  align-self: flex-start;
  margin-top: 50px;
  margin-left: 10px;
  width: 250px;
  opacity: 0.8;
  border-radius: 10px;
}

.product ul {
  flex-basis: 700px;
  margin-left: 20px;
  padding: 10px;
  list-style-type: circle;
}

.product li {
  margin-bottom: 20px;
}

.product-slide h3 {
  background: green;
  color: white;
}

.shop_btn {
  /* Center align button below image on slide */
  position: absolute;
  left: 75px;
  bottom: 75px;
  width: 100px;
  margin: 10px;

  padding: 15px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;

  background: #4A31AD;
  color: white;
  font-weight: bold;
}


/* ********** Product Slideshow ********** */
.slideshow-container {
  position: relative;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.product-slide {
  display: none;  /* Hide slides by default */
  position: relative;
  min-height: 400px;
  background: #56AD31;
}

/* Previous and next buttons */
#prev, #next {
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 20px;

  color: white;
  font-weight: bold;
  font-size: 2rem;
  border-radius: 0 3px 3px 0;

  cursor: pointer;
  transition: 0.5s ease;
}

#next {
  right: 0px;  /* Position "next button" to the right */
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background to previous and next buttons */
#prev:hover, #next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Center-align dots/circles indicators */
.dots-container {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: 10px auto;
  text-align: center;
}

.dot {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin: 0 2px;

  background: #bbb;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.6s ease;
}

.active, .dot:hover {
  background: #717171;
}


/* Sliding animations */
.slide-right {
  animation-name: slide-right;
  animation-duration: 5s;
}

.slide-left {
  animation-name: slide-left;
  animation-duration: 5s;
}

@keyframes slide-right {
  0% { left: -1000px; }
  5% { left: 0px; }
  95% { left: 0px; }
  100% { left: 1000px; }
}

@keyframes slide-left {
  0% { right: -1000px; }
  5% { right: 0px; }
  95% { right: 0px; }
  100% { right: 1000px; }
}
/* ########## End Products Section ########## */




/* ########## About Section ########## */
#about {
  width: 95%;
  margin: 10px auto;
  line-height: 2rem;
}

#about span {
  font-size: 1.1rem;
  font-style: italic;
  font-weight: bold;
}

.video_container {
  width: 560px;
  height: 315px;

  position: relative;
  margin: 10px auto;
  left: 0px;
  right: 0px;
}

iframe {
  border-radius: 20px;
}
/* ########## End About Section ########## */



/* ########## Welcome Offer ########## */
#offer, #form {
  position: fixed;
  bottom: 10px;
  right: 15px;

  border-radius: 15px;
  margin: 0px;
  padding: 10px;
  background: green;
  color: white;
}

#offer {
  width: 250px;
  text-align: center;
  cursor: pointer;
}

#form {
  display: none;  /* Initially hide form */

  width: 500px;
  text-align: center;
}

.close {
  position: absolute;
  top: 5px;
  right: 15px;
  cursor: pointer;
}

#email {
  padding: 10px;
  border-radius: 10px;
  width: 350px;
}

#email::placeholder {
  font-weight: bold;
}

#submit {
  margin-left: 20px;
  padding: 10px;
  border-radius: 10px;

  font-weight: bold;
  font-family: 'Comic Sans MS';
  color: green;
}

.disclaimer {
  font-size: 0.7rem;
  margin-top: 10px;
  color: lightgrey;
}
/* ########## End Welcome Offer ########## */



.author {
  font-size: 0.7rem;
}



/* ########## Media query ########## */
@media screen and (max-width: 768px) {
  .dropdown-menu {
    background: transparent;
    border: none;
    outline: none;
  }
}
/* ########## End media query ########## */
