* {
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  font-size: 16px;
  background: #94AD31;
  color: #4A31AD;
}



/* ########## Header ########## */
#header {
  box-shadow: 0px 0px 20px 10px #94AD31 inset;
}

#header-img {
  z-index: -1;
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  opacity: 0.75;
}

#title {
  bottom: 30px;
  left: 0px;
  right: 0px;
  font-family: 'Pacifico', cursive;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0.8rem;
}
/* ########## End Header ########## */



/* ########## Navbar ########## */
.navbar {
  background: green;
}

.navbar .navbar-nav .nav-link,
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus {
  color: white;
}

.dropdown-menu {
  background: green;
}

.dropdown-menu .dropdown-item {
  color: white;
}

.dropdown-menu .dropdown-item:hover {
  text-decoration: underline;
  background: #94AD31;
  color: #4A31AD;
}

.form-inline input[type=search] {
  width: 100px;
  border: none;
  background: transparent;
  color: white;
  transition: 1s;
}

.form-inline input[type=search]:focus {
  width: 150px;
  border-bottom: 1px solid white;
  background: transparent;
  outline: none;
}

input[type=search]::placeholder {
  color: white;
}

.fa-search {
  color: white;
}
/* ########## End Navbar ########## */



/* ########## Carousel ########## */
.carousel {
  width: 500px;
  height: 280px;
  margin: 10px auto;
}

.carousel-item {
  height: 280px;
}

.carousel-item img {
  object-fit: cover;
  opacity: 0.75;
}

.carousel-indicators {
  bottom: -10px;
}
/* ########## End carousel ########## */



/* ########## Tab content ########## */
.tab-content {
  overflow: auto;
  height: 330px;
}

.tab-pane {
  padding: 20px;
}

.tab-pane ul {
  line-height: 2rem;
}
/* ########## End tab content ########## */



/* ########## About Section ########## */
#about {
  width: 95%;
  margin: 10px auto;
  line-height: 2rem;
}

#about h2 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

#about span {
  font-size: 1.1rem;
  font-style: italic;
  font-weight: bold;
}

.about_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.text_container {
  flex: 1;
  flex-basis: 400px;
  margin-right: 20px;
}

.video_container {
  flex-basis: 560px;
  height: 315px;
}

iframe {
  border: none;
  border-radius: 20px;
}
/* ########## End About Section ########## */



/* ########## Welcome Offer ########## */
#modal_button {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.modal-content {
  background: green;
  color: white;
}
/* ########## End Welcome Offer ########## */



.author {
  font-size: 0.7rem;
}



/* ########## Media query ########## */
@media screen and (max-width: 768px) {
  .dropdown-menu {
    background: transparent;
    border: none;
    outline: none;
  }

  #modal_button {
    position: fixed;
    right: 10px;
    bottom: 40px;
  }
}
/* ########## End media query ########## */
